<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Amazon.com Test Automation Test Suite">
    <test name="TCSAssignment">
 
         <classes>
             <class name="com.qa.testcases.CheckOutPageTest"/>
         </classes>
     </test> 
</suite>